body {padding-top: 25px; padding-right: 7vw; padding-bottom: 25px; padding-left: 7vw; 
    background-color: rgb(250,247,255); color: rgb(92,54,185); font-size: 16px; font-family: Open Sans}

table.center-table {margin-left: auto; margin-right: auto} 

.center-text {text-align: center}  

ul.center-ul {
    text-align: left;
  }
 

.light-background {
    padding: 10px;
    background-color: rgb(255,254,235);
    border-radius: 10%;
    margin: 10px;
}

.manjari {
    font-family: 'Manjari', cursive;
}
.shadowed {
    text-shadow: 0 0 5px rgb(255,250,191);
}

.emph {
    font-weight: bold;
}

@media (min-width: 700px) { 
    #info {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    }
}

@media (max-width: 700px) { 
    #info {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    }
}

@media (max-width: 800px) {
    #intro {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    min-width: 275px;
    max-width: 340px;
    border-radius:5%;
    }
    hr {
    min-width: 275px;
    }
}


@media (min-width: 800px) {
    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        max-width: 700px;
        }
}

