body {padding-top: 25px; padding-right: 7vw; padding-bottom: 25px; padding-left: 7vw; 
    background-color: rgb(252,251,255); color: rgb(7,4,15); font-size: 16px; font-family: Open Sans}

h1, h2 {
    font-family: 'Itim', cursive;
    color: rgb(77,44,157);
}

h3 {
    font-family: 'Itim', cursive;
    color: rgb(77,44,157);
}

.title {
    font-size: 80px;
    text-align: center;

}

.flower {
    width: 100px;
    margin: -20px;
}

.sub {
    font-family: 'Itim', cursive;
    color: rgb(77,44,157);
    text-align: center;
    font-size: 22px;
    padding-right: 25%;
    padding-left: 25%;
    margin-bottom: -50px;
}

.btn-color {
    font-family: 'Itim', cursive;
    border-color: rgb(77,44,157);
}

.btn-color:hover {
    background-color:rgb(205,205,211);
    border-color: rgb(77,44,157)
  }

.cv {
    text-decoration: none;
}

.contact-title {
    font-family: 'Itim', cursive;
    color: rgb(77,44,157);
    font-weight: bold;
}

a {
    color: rgb(77,44,157);
}

.shadowed {
    text-shadow: 0 0 1.6px rgb(251,238,56);
}

.emph {
    font-weight: bold;
}

@media (max-width:460px) {
    .sub {
        margin-bottom: -20px;
    }
}

@media (max-width:800px) and (min-width:668px) {
    .sub {
        margin-bottom: -20px;
    }
}

@media(max-width:411px) and (min-width:355px) {
    .flower {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media(max-width:800px) and (min-width:688px) {
    h1 { 
        width: 80%;
        margin-left:10%;
        margin-right:10%;
    }

}


