body {padding-top: 25px; padding-right: 7vw; padding-bottom: 25px; padding-left: 7vw; 
    background-color: rgb(216,200,255); color: rgb(68,41,136); font-size: 16px; font-family: Open Sans}

table.center-table {margin-left: auto; margin-right: auto} 

.center-text {text-align: center}  

ul.center-ul {
    text-align: left;
  }
 

.light-background {
    padding: 10px;
    background-color: rgb(255,253,229);
    border-radius: 10%;
    margin: 10px;
    width: 300px;
}

.manjari {
    font-family: 'Manjari', cursive;
}
.shadowed {
    text-shadow: 0 0 5px rgb(255,236,134);
}

.emph {
    font-weight: bold;
}

@media (min-width: 700px) { 
}

